* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fillerImg {
  width: 100%;
}

.fillerImgLeft {
  width: 55%;
  padding-left: 5%;
}

.fillerImgBottom {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.leftSection {
  width: 60%;
}

#booking-bar {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 90, 96);
  border-radius: 5px;
}

#booking-module {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  margin-top: 1rem;
  top: 1rem;
  bottom: 1rem;
  width: 35%;
  padding-right: 5%;
}

#reviews {
  width: 60%;
  padding-left: 5%
}

#nearbyHomes {
  width: 100vw;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 744px) {
  #booking-bar {
    display: none;
  }
}

@media only screen and (max-width: 744px) {
  #booking-module {
    display: none;
  }

  #reviews {
    width: 100%;
  }
}